<template>
  <div class="_header">
    <div class="left">
      <div class="logo">
        <img src="../../../assets/logo.png" alt="" />
        <p>黑马面面</p>
      </div>
      <div
        class="collapse-button"
        :class="{ 'collapse-active': sideBarCollapse }"
        @click="changeSideBarCollapse"
      >
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="search">
        <i class="el-icon-search"></i>
        <input
          type="text"
          placeholder="Search for reservetioms,rooms andmore..."
        />
      </div>
    </div>
    <div class="right">
      <div class="notification">
        <i class="el-icon-bell"></i>
        <div class="dot"></div>
      </div>
      <img class="avatar" :src="avatar ? avatar : defaultAvatar" alt="" />
      <p class="name">{{ name }}</p>
      <button class="logout" @click="handleLogout">退出</button>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import defaultAvatar from "@/assets/default_avatar.jpg";

export default {
  name: "Header",
  data() {
    return {
      defaultAvatar
    };
  },
  computed: {
    ...mapState("app", ["sideBarCollapse"]),
    ...mapState("user", ["name", "avatar"])
  },
  methods: {
    ...mapActions("app", ["changeSideBarCollapse"]),
    ...mapActions("user", ["logout"]),
    handleLogout() {
      this.logout();
    }
  }
};
</script>

<style lang="scss" scoped>
._header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0 3px 7px 0 rgba(221, 221, 221, 0.6);
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      display: flex;
      cursor: pointer;
      > img {
        margin-right: 12px;
        width: 33px;
        height: 28px;
      }
      > p {
        margin-right: 32px;
        font-size: 23px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        background: linear-gradient(
          32deg,
          rgba(20, 147, 250, 1) 18.359375%,
          rgba(2, 196, 250, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .collapse-button {
      display: flex;
      flex-direction: column;
      margin-right: 26px;
      cursor: pointer;
      transition: all 0.5s ease 0s;
      > div {
        margin-bottom: 4px;
        width: 17px;
        height: 3px;
        background: rgba(137, 137, 137, 1);
        border-radius: 2px;
      }
    }
    .collapse-active {
      transform: rotate(90deg);
    }
    .search {
      display: flex;
      align-items: center;
      padding: 0 20px;
      width: 256px;
      height: 28px;
      background: rgba(241, 241, 241, 1);
      border-radius: 14px;
      > i {
        margin-right: 7px;
        color: rgba(102, 102, 102, 1);
      }
      > input {
        background: transparent;
        width: 100%;
        font-size: 12px;
        color: rgba(102, 102, 102, 1);
      }
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .notification {
      position: relative;
      margin-right: 21px;
      > i {
        font-size: 22px;
        color: #666666;
      }
      .dot {
        position: absolute;
        top: 0;
        right: 2px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: #ff2626;
      }
    }
    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 8px;
    }
    .name {
      margin-right: 17px;
      font-size: 14px;
      color: #666666;
    }
    .logout {
      width: 51px;
      height: 19px;
      background: linear-gradient(
        -74deg,
        rgba(20, 147, 250, 1) 31%,
        rgba(2, 196, 250, 1) 97%
      );
      border-radius: 10px;
      font-size: 12px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
</style>
