<template>
  <div class="layout">
    <Header class="header" />
    <div class="container">
      <SideBar class="side-bar" />
      <router-view class="app-container" />
    </div>
  </div>
</template>

<script>
import Header from "@/views/Layout/components/Header";
import SideBar from "@/views/Layout/components/SideBar/index";
export default {
  name: "Layout",
  components: {
    Header,
    SideBar
  }
};
</script>

<style lang="scss" scoped>
.layout {
  background-color: #f5f6f9;
  min-height: 100vh;
  .container {
    display: flex;
    .app-container {
      padding: 10px;
      width: 100%;
      height: calc(100vh - 60px);
      overflow: scroll;
    }
  }
}
</style>
