<template>
  <div
    ref="chinaMap"
    style="width: 100%;
          height: 500px;"
  ></div>
</template>

<script>
import echarts from "echarts";
// eslint-disable-next-line no-unused-vars
import chinaMap from "echarts/map/js/china";
// eslint-disable-next-line no-unused-vars
import theme from "@/views/dashboard/components/theme";

export default {
  name: "ChinaCityMap",
  props: {
    data: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      chart: null,
      option: {
        tooltip: {
          //提示框组件。
          trigger: "item" //数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
        },
        visualMap: {
          //颜色的设置  dataRange
          x: "left",
          y: "center",
          splitList: [
            { start: 1500 },
            { start: 900, end: 1500 },
            { start: 310, end: 1000 },
            { start: 200, end: 300 },
            { start: 10, end: 200, label: "10 到 200（自定义label）" },
            { start: 5, end: 5, label: "5（自定义特殊颜色）", color: "red" },
            { end: 10 }
          ],
          min: 0,
          max: 2500,
          calculable: true, //颜色呈条状
          text: ["高", "低"], // 文本，默认为数值文本
          color: ["#1494FA", "#72bffc", "#dee5f1"]
        },
        roamController: {
          //控制地图的上下左右放大缩小 图上没有显示
          show: true,
          x: "right",
          mapTypeControl: {
            china: true
          }
        },
        series: [
          {
            name: "城市热度",
            type: "map",
            selectedMode: "single",
            mapType: "china",
            roam: false, //是否开启鼠标缩放和平移漫游
            itemStyle: {
              //地图区域的多边形 图形样式
              normal: {
                //是图形在默认状态下的样式
                label: {
                  show: true, //是否显示标签
                  textStyle: {
                    color: "#000"
                  }
                }
              },
              emphasis: {
                //是图形在高亮状态下的样式,比如在鼠标悬浮或者图例联动高亮时
                label: { show: false }
              }
            },
            top: "10%", //组件距离容器的距离
            bottom: "10%",
            data: [
              { name: "北京", value: Math.round(Math.random() * 2000) },
              { name: "天津", value: Math.round(Math.random() * 2000) },
              { name: "上海", value: Math.round(Math.random() * 2000) },
              { name: "重庆", value: Math.round(Math.random() * 2000) },
              { name: "河北", value: 0 },
              { name: "河南", value: Math.round(Math.random() * 2000) },
              { name: "云南", value: 5 },
              { name: "辽宁", value: 305 },
              { name: "黑龙江", value: Math.round(Math.random() * 2000) },
              { name: "湖南", value: 200 },
              { name: "安徽", value: Math.round(Math.random() * 2000) },
              { name: "山东", value: Math.round(Math.random() * 2000) },
              { name: "新疆", value: Math.round(Math.random() * 2000) },
              { name: "江苏", value: Math.round(Math.random() * 2000) },
              { name: "浙江", value: Math.round(Math.random() * 2000) },
              { name: "江西", value: Math.round(Math.random() * 2000) },
              { name: "湖北", value: Math.round(Math.random() * 2000) },
              { name: "广西", value: Math.round(Math.random() * 2000) },
              { name: "甘肃", value: Math.round(Math.random() * 2000) },
              { name: "山西", value: Math.round(Math.random() * 2000) },
              { name: "内蒙古", value: Math.round(Math.random() * 2000) },
              { name: "陕西", value: Math.round(Math.random() * 2000) },
              { name: "吉林", value: Math.round(Math.random() * 2000) },
              { name: "福建", value: Math.round(Math.random() * 2000) },
              { name: "贵州", value: Math.round(Math.random() * 2000) },
              { name: "广东", value: Math.round(Math.random() * 2000) },
              { name: "青海", value: Math.round(Math.random() * 2000) },
              { name: "西藏", value: Math.round(Math.random() * 2000) },
              { name: "四川", value: Math.round(Math.random() * 2000) },
              { name: "宁夏", value: Math.round(Math.random() * 2000) },
              { name: "海南", value: Math.round(Math.random() * 2000) },
              { name: "台湾", value: Math.round(Math.random() * 2000) },
              { name: "香港", value: Math.round(Math.random() * 2000) },
              { name: "澳门", value: Math.round(Math.random() * 2000) }
            ]
          }
        ]
      }
    };
  },
  watch: {
    data() {
      if (this.chart) {
        // this.option.series[0].data = this.data;
        this.chart.setOption(this.option);
      }
    }
  },
  mounted() {
    // this.option.series[0].data = this.data;
    this.chart = echarts.init(this.$refs.chinaMap);
    this.chart.setOption(this.option);
    // this.chart.on("mouseover", function(params) {});
  }
};
</script>
