<template>
  <div class="circle-container">
    <div class="circle" :class="type">
      <p class="number">
        {{ animatedNumber }}
      </p>
    </div>
    <p class="title">{{ title }}</p>
  </div>
</template>

<script>
export default {
  name: "MmCircle",
  props: {
    type: {
      type: String,
      default: "primary"
    },
    number: {
      type: String | Number,
      default: 0
    },
    title: {
      type: String,
      default: ""
    }
  },
  data() {
    return {
      tweenedNumber: 0
    };
  },
  computed: {
    animatedNumber: function() {
      return this.tweenedNumber.toFixed(0);
    }
  },
  watch: {
    number: function(newValue) {
      window.TweenLite.to(this.$data, 0.5, { tweenedNumber: newValue });
    }
  }
};
</script>

<style lang="scss" scoped>
.circle-container {
  .title {
    width: 98px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(102, 102, 102, 1);
    line-height: 38px;
    text-align: center;
  }
  .circle {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 98px;
    height: 98px;
    border: 2px solid;
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      rgba(244, 244, 244, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 35px;
      line-height: 44px;
    }
  }
  .primary {
    border-color: rgba(20, 147, 250, 1);
    .number {
      background: linear-gradient(
        264deg,
        rgba(20, 147, 250, 1) 19.9462890625%,
        rgba(1, 198, 250, 1) 89.111328125%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .danger {
    border-color: rgba(248, 103, 63, 1);
    .number {
      background: linear-gradient(
        264deg,
        rgba(248, 103, 63, 1) 0%,
        rgba(255, 139, 107, 1) 92.7490234375%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .success {
    border-color: rgba(78, 203, 115, 1);
    .number {
      background: linear-gradient(
        264deg,
        rgba(61, 176, 95, 1) 12.1826171875%,
        rgba(78, 203, 115, 1) 89.892578125%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
</style>
