<template>
  <div ref="pieChart" style="width: 100%;height:400px;"></div>
</template>

<script>
import echarts from "echarts";
import theme from "@/views/dashboard/components/theme";

export default {
  name: "PieChart",
  props: {
    data: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      chart: null,
      option: {
        tooltip: {
          trigger: "item",
          formatter: "{b}{a}: {c} ({d}%)"
        },
        legend: {
          orient: "vertical",
          left: 450,
          top: 27,
          bottom: 20,
          textStyle: {
            fontSize: 14,
            lineHeight: 38,
            padding: [0, 20, 0, 15],
            color: "rgba(0,51,51,1)",
            fontWeight: 500
          },
          itemWidth: 8,
          itemHeight: 8,
          data: []
        },
        series: [
          {
            name: "试题数",
            type: "pie",
            radius: ["50%", "80%"],
            avoidLabelOverlap: false,
            label: {
              normal: {
                show: false,
                position: "center"
              },
              emphasis: {
                show: true,
                textStyle: {
                  fontSize: "24",
                  fontWeight: "bold"
                }
              }
            },
            labelLine: {
              normal: {
                show: false
              }
            },
            center: ["35%", "50%"],
            data: []
          }
        ]
      }
    };
  },
  watch: {
    data() {
      if (this.chart) {
        const titles = [];
        this.data.map(({ name }) => {
          titles.push(name);
        });
        this.option.legend.data = titles;
        this.option.series[0].data = this.data;
        this.chart.setOption(this.option);
      }
    }
  },
  mounted() {
    echarts.registerTheme("shine", theme);
    this.chart = echarts.init(this.$refs.pieChart, "shine");
    this.chart.setOption(this.option);
  }
};
</script>

<style lang="scss" scoped></style>
