<template>
  <div class="option-upload">
    <el-upload
      :action="uploadUrl"
      :show-file-list="false"
      :on-success="handleUploadSuccess"
    >
      <el-button style="margin: 0 20px" size="small" type="primary">
        上传缩略图
      </el-button>
    </el-upload>
    <el-button
      size="small"
      :type="responseUrl ? 'success' : 'info'"
      :disabled="!responseUrl"
      @click="previewImage"
    >
      {{ responseUrl ? "预览图片" : "还未上传" }}
    </el-button>
  </div>
</template>

<script>
import imagePreview from "@/utils/imagePreview";
const defaultUploadUrl = process.env.VUE_APP_BASE_URL + "/upload";

export default {
  name: "OptionUpload",
  props: {
    uploadUrl: {
      type: String,
      default: defaultUploadUrl
    },
    responseUrl: {
      type: String,
      default: ""
    }
  },
  data() {
    return {};
  },
  methods: {
    handleUploadSuccess(response) {
      const url = response?.data?.url;
      this.$emit("update:responseUrl", url);
    },
    previewImage() {
      imagePreview(this.responseUrl);
    }
  }
};
</script>

<style lang="scss" scoped>
.option-upload {
  display: flex;
  line-height: 1;
}
</style>
