<template>
  <el-upload :action="uploadUrl" :on-success="handleUploadSuccess">
    <el-button size="small" type="primary">点击上传</el-button>
    <div slot="tip" class="el-upload__tip">
      只能上传视频格式文件
    </div>
  </el-upload>
</template>

<script>
const defaultUploadUrl = process.env.VUE_APP_BASE_URL + "/upload";

//TODO:缺格式判断
export default {
  name: "VideoUpload",
  props: {
    uploadUrl: {
      type: String,
      default: defaultUploadUrl
    },
    responseUrl: {
      type: String,
      default: ""
    }
  },
  methods: {
    handleUploadSuccess(response) {
      const url = response?.data?.url;
      this.$emit("update:responseUrl", url);
    }
  }
};
</script>

<style lang="scss" scoped></style>
