//// 覆盖Element样式

.el-dialog__header,
.el-message-box__header{
  background:linear-gradient(-74deg,rgba(20,147,250,1) 31%,rgba(2,196,250,1) 97%);
}
.el-dialog__title,
.el-dialog__headerbtn .el-dialog__close,
.el-message-box__title,
.el-message-box__headerbtn .el-message-box__close{
  color: #fff;
}
.el-dialog {
  border-radius: 5px;
  overflow: hidden;
}
.el-message-box {
  border: none;
}

.el-dialog__footer{
  text-align: center;
}
