#nprogress .bar {
  background: #c30030;
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px #c30030, 0 0 5px #c30030;
  box-shadow: 0 0 10px #c30030, 0 0 5px #c30030;
}

#nprogress .spinner {
  top: 21px;
  right: 50%;
  transform: translateX(-50%);
}
