
.box-card {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
  .el-card__body {
    padding-bottom: 0;
  }
  .filter-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
     >li{
       margin-bottom: 20px;
       > span {
         display: inline-block;
         width: 64px;
         margin-right: 12px;
         font-size: 16px;
         font-weight: 500;
         color: rgba(49, 60, 76, 1);
         line-height: 38px;
       }
       .el-input {
         width: 197px;
         height: 38px;
         margin-right: 30px;
       }
       > button {
         margin-right: 12px;
       }
     }
  }
}

.box-card-table {
  width: 100%;
}

.dialog-footer {
  > button {
    margin-right: 12px;
  }
}
