<template>
  <div class="_side-bar">
    <el-menu
      default-active="1-1"
      class="el-menu-vertical"
      :collapse="sideBarCollapse"
    >
      <side-bar-item
        v-for="(route, index) in routes"
        :key="route.name"
        :route="route"
        :index="`${index}`"
      />
    </el-menu>
  </div>
</template>

<script>
import { mapState } from "vuex";
import router from "@/router";
import SideBarItem from "@/views/Layout/components/SideBar/SideBarItem";

export default {
  name: "SideBar",
  components: {
    SideBarItem
  },
  computed: {
    ...mapState("app", ["sideBarCollapse"])
  },
  data() {
    return {
      isCollapse: true,
      routes: router.options.routes
    };
  }
};
</script>

<style lang="scss" scoped>
._side-bar {
  height: calc(100vh - 60px);
  background: #108ee9;
  user-select: none;
}
</style>

<style>
/* 覆盖Element Navigation组件的样式 */
.el-menu-vertical:not(.el-menu--collapse) {
  width: 200px;
}
.el-menu {
  background-color: #108ee9;
  border-right: #108ee9;
}
.el-submenu__title,
.el-submenu__title i,
.el-menu-item-group__title,
.el-menu-item,
.el-menu-item i,
.el-menu-item.is-active {
  color: #fff;
  cursor: pointer;
}

.el-submenu__title:focus,
.el-submenu__title:hover,
.el-menu-item:focus,
.el-menu-item:hover {
  background-color: #0e77cd;
}
</style>
