<template>
  <el-submenu
    v-if="hasChildren(route) && hasAuthority(route)"
    :index="`${Number(index) + 1}`"
  >
    <template slot="title">
      <i :class="route.meta && route.meta.icon"></i>
      <span slot="title">{{ route.meta && route.meta.title }}</span>
    </template>
    <side-bar-item
      v-for="(r, i) in route.children"
      :key="r.name"
      :route="r"
      :index="`${Number(index) + 1}-${Number(i) + 1}`"
    />
  </el-submenu>
  <router-link
    v-else-if="hasOneChild(route) && hasAuthority(route)"
    :to="{ name: route.children[0].name }"
  >
    <el-menu-item :index="`${Number(index) + 1}-1`">
      <i :class="route.meta && route.meta.icon"></i>
      <span slot="title">
        {{ route.children[0].meta && route.children[0].meta.title }}
      </span>
    </el-menu-item>
  </router-link>
  <router-link
    v-else-if="!route.hidden && hasAuthority(route)"
    :to="{ name: route.name }"
  >
    <el-menu-item :index="`${Number(index) + 1}`">
      <span slot="title">{{ route.meta && route.meta.title }}</span>
    </el-menu-item>
  </router-link>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "SideBarItem",
  props: {
    route: {
      type: Object,
      default: () => {}
    },
    index: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapState("user", ["role"])
  },
  methods: {
    hasOneChild(route) {
      return route?.children?.length === 1 && !route.hidden;
    },
    hasChildren(route) {
      return route?.children?.length > 1 && !route.hidden;
    },
    hasAuthority(route) {
      if (!route.meta?.roles) {
        return false;
      }
      return route.meta.roles.includes(this.role);
    }
  }
};
</script>
