<template>
  <div class="bash-board">
    <el-card class="card-title">
      <div class="wrapper">
        <mm-circle title="今日新增用户" :number="incrementUsers" />
        <mm-circle title="总用户量" :number="totalUsers" />
        <mm-circle
          type="danger"
          title="新增试题"
          :number="incrementQuestions"
        />
        <mm-circle type="danger" title="总试题量" :number="totalQuestions" />
        <mm-circle
          type="success"
          title="总刷题量"
          :number="totalDoneQuestions"
        />
        <mm-circle
          type="success"
          title="人均刷题量"
          :number="personalQuestions"
        />
      </div>
    </el-card>
    <div class="pie-container">
      <el-card class="pie-card-left">
        <h2>整体数据</h2>
        <PieChart :data="totalQuestionsData"></PieChart>
      </el-card>
      <el-card class="pie-card-right">
        <div class="pie-card-right-wrapper">
          <el-radio-group
            v-model="subject"
            size="small"
            style="margin-right: 20px"
          >
            <el-radio-button label="JAVA"></el-radio-button>
            <el-radio-button label="PHP">PHP</el-radio-button>
            <el-radio-button label="大数据">大数据</el-radio-button>
          </el-radio-group>
        </div>
        <h2>分学科数据</h2>
        <PieChart :data="questions" />
      </el-card>
    </div>
    <div class="map-container">
      <el-card>
        <div class="map-wrapper">
          <div class="map-left">
            <h2>城市热度</h2>
            <ChinaCityMap :data="hotCities"></ChinaCityMap>
          </div>
          <div></div>
          <div class="map-right">
            <h2>热门城市</h2>
            <HotCity :cities="hotCities"></HotCity>
          </div>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
import MmCircle from "./components/MmCircle";
import ChinaCityMap from "@/views/dashboard/components/ChinaCityMap";
import HotCity from "@/views/dashboard/components/HotCity/index";
import PieChart from "@/views/dashboard/components/PieChart";
import {
  getHotCities,
  getQuestionData,
  getDashboardData
} from "@/api/dashboard";

export default {
  name: "DataStatistics",
  components: {
    MmCircle,
    ChinaCityMap,
    HotCity,
    PieChart
  },
  data() {
    return {
      subject: "JAVA",
      hotCities: [],
      totalQuestionsData: [],
      questions: [],
      incrementUsers: 0,
      totalUsers: 0,
      incrementQuestions: 0,
      totalQuestions: 0,
      totalDoneQuestions: 0,
      personalQuestions: 0
    };
  },
  watch: {
    subject(newVal) {
      getQuestionData(newVal).then(({ items }) => {
        this.questions = items;
      });
    }
  },
  created() {
    this.fetchData();
  },
  methods: {
    async fetchData() {
      const requestA = getHotCities();
      const requestB = getQuestionData();
      const requestC = getQuestionData(this.subject);
      const requestD = getDashboardData();
      const responseA = await requestA;
      this.hotCities = responseA.items;
      const responseB = await requestB;
      this.totalQuestionsData = responseB.items;
      const responseC = await requestC;
      this.questions = responseC.items;
      const responseD = await requestD;
      const {
        incrementUsers,
        totalUsers,
        incrementQuestions,
        totalQuestions,
        totalDoneQuestions,
        personalQuestions
      } = responseD;
      this.incrementUsers = incrementUsers;
      this.totalUsers = totalUsers;
      this.incrementQuestions = incrementQuestions;
      this.totalQuestions = totalQuestions;
      this.totalDoneQuestions = totalDoneQuestions;
      this.personalQuestions = personalQuestions;
    }
  }
};
</script>

<style lang="scss" scoped>
.bash-board {
  .card-title {
    margin-bottom: 10px;
    .wrapper {
      display: flex;
      justify-content: space-around;
    }
  }
  .pie-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    .pie-card-left {
      width: 50%;
      margin-right: 10px;
      h2 {
        font-size: 16px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
    }
    .pie-card-right {
      position: relative;
      width: 50%;
      h2 {
        font-size: 16px;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
      .pie-card-right-wrapper {
        position: absolute;
        right: 0;
        top: 15px;
      }
    }
  }
  .map-container {
    h2 {
      font-size: 16px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
    }
    .map-wrapper {
      display: grid;
      grid-template-columns: 1fr 50px 1fr;
      .map-left {
        width: 100%;
      }
      .map-right {
        width: 100%;
      }
    }
  }
}
</style>
