<template>
  <div class="page-login">
    <div class="login-container">
      <div class="title">
        <img src="../assets/icon.png" alt="" />
        <p>黑马面面</p>
        <div class="liner"></div>
        <p>用户登录</p>
      </div>
      <!--  用户名    -->
      <div class="form-item">
        <div class="form-item-icon">
          <i class="el-icon-user"></i>
        </div>
        <div class="form-item-content">
          <input
            v-model="username"
            type="text"
            placeholder="邮箱/手机号/用户名"
          />
        </div>
      </div>
      <!--  密码   -->
      <div class="form-item">
        <div class="form-item-icon">
          <i class="el-icon-lock"></i>
        </div>
        <div class="form-item-content">
          <input v-model="password" type="password" placeholder="密码" />
        </div>
      </div>
      <!--  验证码    -->
      <div class="form-item-code-container">
        <div class="form-item">
          <div class="form-item-icon">
            <i class="el-icon-key"></i>
          </div>
          <div class="form-item-content">
            <input v-model="code" type="text" placeholder="验证码" />
          </div>
        </div>
        <div class="code-container"></div>
      </div>
      <div class="user-protocol">
        <el-checkbox name="type" v-model="isRead" />
        <p>我已阅读并同意<span>用户协议</span>和<span>隐私条款</span></p>
      </div>
      <button class="login-button" @click="handleLogin">登录</button>
      <button class="register-button" @click="handleRegister">注册</button>
    </div>
    <img class="login-bg" src="../assets/login.png" alt="" />
    <el-dialog title="注册" :visible.sync="dialogVisible" width="30%" center>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <!-- 3. 表单字段自定义  -->
        <el-form-item prop="avatar" label="头　　像">
          <el-upload
            class="avatar-uploader"
            :action="defaultUploadUrl"
            :show-file-list="false"
            :on-success="handleAvatarSuccess"
            :before-upload="beforeAvatarUpload"
          >
            <img v-if="imageUrl" :src="imageUrl" class="avatar" />
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>
        <el-form-item prop="username" label="账　　户">
          <el-input v-model="form.username"></el-input>
        </el-form-item>
        <el-form-item prop="email" label="邮　　箱">
          <el-input v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item prop="phone" label="手　　机">
          <el-input v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item prop="password" label="密　　码">
          <el-input type="password" v-model="form.password"></el-input>
        </el-form-item>
        <!-- 3. 表单字段自定义  -->
      </el-form>

      <span slot="footer" class="dialog-footer">
        <mm-button
          type="info"
          height="34"
          width="90"
          @click="dialogVisible = false"
          >取 消</mm-button
        >
        <mm-button type="primary" width="90" height="34" @click="submitForm"
          >确 定</mm-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { register } from "@/api/login";
const defaultUploadUrl = process.env.VUE_APP_BASE_URL + "/upload";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      code: "",
      isRead: false,
      form: {},
      dialogVisible: false,
      defaultUploadUrl,
      imageUrl: "",
      rules: {
        avatar: [{ required: true, message: "请上传头像", trigger: "change" }],
        username: [
          { required: true, message: "请输入账户", trigger: "blur" },
          { min: 6, max: 18, message: "长度在 6 到 18 个字符", trigger: "blur" }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 6, max: 18, message: "长度在 6 到 18 个字符", trigger: "blur" }
        ],
        phone: [
          { required: true, message: "请输入手机号码", trigger: "blur" },
          { min: 11, max: 11, message: "手机号码为11位", trigger: "blur" }
        ],
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"]
          }
        ]
      }
    };
  },
  methods: {
    ...mapActions("user", ["login"]),
    async handleLogin() {
      if (this.isRead) {
        await this.login(this.username, this.password, this.code);
      } else {
        this.$message({
          message: "需要先阅读协议",
          type: "warning"
        });
      }
    },
    handleRegister() {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.form.clearValidate();
      });
    },
    async submitForm() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          try {
            await register(this.form);
            this.$message({
              message: "注册成功",
              type: "success"
            });
          } catch (e) {
            this.$message({
              message: "注册失败",
              type: "error"
            });
          } finally {
            this.dialogVisible = false;
          }
        } else {
          return false;
        }
      });
    },
    handleAvatarSuccess(res, file) {
      this.imageUrl = URL.createObjectURL(file.raw);
      this.form.avatar = res.data.url;
    },
    beforeAvatarUpload(file) {
      const whiteType = ["image/jpeg", "image/png"];
      const isLt2M = file.size / 1024 / 1024 < 2;
      if (!whiteType.includes(file.type)) {
        this.$message.error("上传头像图片只能是 JPG PNG 格式!");
      }
      if (!isLt2M) {
        this.$message.error("上传头像图片大小不能超过 2MB!");
      }
      return whiteType.includes(file.type) && isLt2M;
    }
  }
};
</script>

<style lang="scss" scoped>
.page-login {
  position: relative;
  background-image: linear-gradient(to right, #1493fa, #01c6fa);
  min-width: 100vw;
  min-height: 100vh;
  .login-container {
    position: absolute;
    padding: 45px;
    width: 474px;
    background: rgba(245, 245, 245, 1);
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      margin-bottom: 30px;
      align-items: center;
      > img {
        margin-right: 12px;
        width: 30px;
        height: 25px;
      }
      .liner {
        margin: 0 14px;
        width: 1px;
        height: 28px;
        background: rgba(199, 199, 199, 1);
      }
      p {
        font-size: 24px;
        color: rgba(12, 12, 12, 1);
      }
    }
    .form-item {
      display: flex;
      align-items: center;
      margin-bottom: 26px;
      width: 100%;
      background: #fff;
      border: 1px solid rgba(223, 223, 223, 1);
      .form-item-icon {
        margin: 0 13px 0 19px;
        > i {
          font-size: 24px;
          color: #d1dfe8;
        }
      }
      .form-item-content {
        width: 100%;
        input {
          font-size: 14px;
          font-weight: 500;
          width: 100%;
          height: 45px;
        }
        input::placeholder {
          color: rgba(93, 93, 93, 1);
        }
      }
    }
    .form-item-code-container {
      margin-bottom: 26px;
      .form-item {
        margin-bottom: 0;
      }
      display: flex;
      align-items: center;
      .code-container {
        margin-left: 4px;
        width: 119px;
        height: 46px;
        background: #fff;
      }
    }
    .user-protocol {
      display: flex;
      margin: 10px 0 27px 0;
      align-items: center;
      > p {
        margin-left: 9px;
        font-size: 12px;
        color: rgba(153, 153, 153, 1);
        line-height: 14px;
        > span {
          color: #3296fa;
        }
      }
    }
    .login-button {
      margin-bottom: 26px;
      width: 399px;
      height: 50px;
      background: rgba(20, 147, 250, 1);
      font-size: 21px;
      color: rgba(255, 255, 255, 1);
      line-height: 50px;
    }
    .register-button {
      width: 399px;
      height: 50px;
      background: rgba(20, 147, 250, 1);
      font-size: 21px;
      color: rgba(255, 255, 255, 1);
      line-height: 50px;
    }
  }
  .login-bg {
    position: absolute;
    width: 633px;
    height: 435px;
    top: 90%;
    left: 50%;
    transform: translateY(-100%);
  }
}
</style>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
