<template>
  <el-cascader
    v-model="bindArrayValue"
    :options="areaData"
    :props="{ expandTrigger: 'hover' }"
  />
</template>

<script>
import areaData from "china-area-data";

export default {
  name: "CitySelector",
  props: {
    value: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  computed: {
    bindArrayValue: {
      get() {
        return this.value;
      },
      set(val) {
        this.$emit("update:value", val);
      }
    }
  },
  data() {
    return {
      areaData: this.makeCitySelectorData()
    };
  },
  methods: {
    makeCitySelectorData() {
      const citySelectorData = [];
      const provinces = areaData["86"];
      for (const provinceCode in provinces) {
        if (provinces.hasOwnProperty(provinceCode)) {
          const provinceName = provinces[provinceCode];
          const province = {
            value: provinceName,
            label: provinceName,
            children: []
          };
          citySelectorData.push(province);
          const cities = areaData[provinceCode];
          for (const cityCode in cities) {
            if (cities.hasOwnProperty(cityCode)) {
              const cityName = cities[cityCode];
              const city = {
                value: cityName,
                label: cityName
              };
              province.children.push(city);
            }
          }
        }
      }
      return citySelectorData;
    }
  }
};
</script>
