<template>
  <button
    class="mm-button"
    :class="{ primary: type === PRIMARY, info: type === INFO }"
    :style="{ width: `${width}px`, height: `${height}px` }"
    @click="handleClick"
  >
    <slot />
  </button>
</template>

<script>
export default {
  name: "MmButton",
  props: {
    type: {
      type: String,
      default: "primary"
    },
    width: Number | String,
    height: {
      type: Number | String,
      default: 38
    }
  },
  data() {
    return {
      PRIMARY: "primary",
      INFO: "info"
    };
  },
  methods: {
    handleClick(event) {
      this.$emit("click", event);
    }
  }
};
</script>

<style lang="scss" scoped>
.mm-button {
  padding: 0 17px;
  outline: none;
  border: none;
  cursor: pointer;
  height: 34px;
  border-radius: 5px;
  font-size: 16px;
}
.primary {
  color: #fff;
  background: linear-gradient(
    59deg,
    rgba(20, 147, 250, 1) 32%,
    rgba(2, 196, 250, 1) 100%
  );
}
.info {
  color: rgba(102, 102, 102, 1);
  border: 1px solid rgba(208, 208, 208, 1);
  background: linear-gradient(
    0deg,
    rgba(244, 244, 244, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
</style>
