<template>
  <div>
    <el-card class="box-card">
      <mm-button @click="handleClickCreate"
        ><i class="el-icon-plus"></i> 新增试题</mm-button
      >
      <ul class="filter-container">
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <span>学科</span>
          <el-select
            v-model="listQuery.subject"
            clearable
            class="el-input"
            placeholder="请选择学科"
          >
            <el-option
              v-for="item in subjectOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>目录</span>
          <el-select
            v-model="listQuery.catalog"
            clearable
            class="el-input"
            placeholder="请选择目录"
          >
            <el-option
              v-for="item in catalogOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>企业</span>
          <el-select
            v-model="listQuery.enterprise"
            clearable
            class="el-input"
            placeholder="请选择企业"
          >
            <el-option
              v-for="item in enterpriseOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>方向</span>
          <el-select
            v-model="listQuery.direction"
            clearable
            class="el-input"
            placeholder="请选择方向"
          >
            <el-option
              v-for="item in directionOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>题型</span>
          <el-select
            v-model="listQuery.questionType"
            clearable
            class="el-input"
            placeholder="请选择题型"
          >
            <el-option
              v-for="item in questionTypeOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>难度</span>
          <el-select
            v-model="listQuery.difficulty"
            clearable
            class="el-input"
            placeholder="请选择目录"
          >
            <el-option
              v-for="item in difficultyOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>创建者</span>
          <el-input class="el-input" v-model="listQuery.email" />
        </li>
        <li>
          <span>状态</span>
          <el-select
            v-model="listQuery.status"
            clearable
            class="el-input"
            placeholder="请选择状态"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <span>标题</span>
          <el-input
            class="el-input"
            style="width:500px"
            v-model="listQuery.title"
          />
        </li>
        <li>
          <span>创建日期</span>
          <el-date-picker
            class="el-input"
            v-model="listQuery.createDate"
            type="date"
            placeholder="选择日期"
          >
          </el-date-picker>
        </li>
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <mm-button type="info" height="34" width="90" @click="clearFilter"
            >清除</mm-button
          >
          <mm-button height="34" width="90" @click="handleFilter"
            >搜索</mm-button
          >
        </li>
      </ul>
    </el-card>
    <el-card class="box-card-table">
      <el-table v-loading="listLoading" :data="tableData" style="width: 100%">
        <el-table-column label="序号" align="center" width="80">
          <template slot-scope="scope">
            {{ scope.$index }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column prop="title" align="center" label="标题" width="500" />
        <el-table-column prop="subject" align="center" label="学科" />
        <el-table-column prop="createDate" align="center" label="创建日期" />
        <el-table-column prop="remark" align="center" label="备注" />
        <el-table-column prop="status" align="center" label="状态">
          <template slot-scope="scope">
            {{ scope.row.status | statusFilter }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="handleClickUpdate(scope.row)"
              >编辑</el-button
            >
            <el-button type="text" @click="handleClickDisable(scope.row.id)"
              >禁用</el-button
            >
            <el-button type="text" @click="handleClickDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        v-show="listQuery.total > 0"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        :total="listQuery.total"
        @pagination="fetchData"
      />
    </el-card>

    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" width="100%">
      <div class="form-container">
        <el-form
          ref="form"
          label-position="left"
          :model="form"
          :rules="rules"
          label-width="80px"
        >
          <!-- 3. 表单字段自定义  -->
          <el-form-item prop="subject" label="学科">
            <el-select
              v-model="form.subject"
              clearable
              placeholder="请选择学科"
            >
              <el-option
                v-for="item in subjectOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item prop="catalog" label="目录">
            <el-select
              v-model="form.catalog"
              clearable
              placeholder="请选择目录"
            >
              <el-option
                v-for="item in catalogOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item prop="enterprise" label="企业">
            <el-select
              v-model="form.enterprise"
              clearable
              placeholder="请选择企业"
            >
              <el-option
                v-for="item in enterpriseOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>
          <el-form-item prop="city" label="城市">
            <CitySelector :value.sync="form.city"></CitySelector>
          </el-form-item>
          <el-form-item prop="direction" label="方向">
            <el-select
              v-model="form.direction"
              clearable
              placeholder="请选择方向"
            >
              <el-option
                v-for="item in directionOptions"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </el-form-item>

          <el-form-item prop="questionType" label="题型">
            <el-radio-group v-model="form.questionType">
              <el-radio
                :label="questionType"
                v-for="(questionType, index) in questionTypeOptions"
                :key="index"
                >{{ questionType }}</el-radio
              >
            </el-radio-group>
          </el-form-item>

          <el-form-item prop="difficulty" label="难度">
            <el-radio
              v-model="form.difficulty"
              :label="difficulty"
              v-for="(difficulty, index) in difficultyOptions"
              :key="index"
              >{{ difficulty }}</el-radio
            >
          </el-form-item>
          <div class="liner"></div>

          <el-form-item prop="questionTitle" label="试题标题" />
          <div id="question-title"></div>

          <el-form-item
            v-if="form.questionType === SINGLE"
            prop="singleSelectAnswer"
            label="选项"
          >
            <div
              v-for="option in options"
              class="option-select"
              :key="option.label"
            >
              <el-radio-group v-model="form.singleSelectAnswer">
                <el-radio class="checkbox" :label="option.label">{{
                  option.label
                }}</el-radio>
              </el-radio-group>
              <el-input v-model="option.text"></el-input>
              <OptionUpload :response-url.sync="option.image" />
            </div>
          </el-form-item>

          <el-form-item
            v-else-if="form.questionType === MULTIPLE"
            prop="multipleSelectAnswer"
            label="选项"
          >
            <el-checkbox-group v-model="form.multipleSelectAnswer">
              <div
                class="option-select"
                v-for="option in options"
                :key="option.label"
              >
                <el-checkbox :label="option.label" class="checkbox">{{
                  option.label
                }}</el-checkbox>
                <el-input v-model="option.text"></el-input>
                <OptionUpload :response-url.sync="option.image" />
              </div>
            </el-checkbox-group>
          </el-form-item>

          <el-form-item
            v-else-if="form.questionType === SHORT_ANSWER"
            prop="shortAnswer"
            label="简答答案"
          >
            <el-input type="textarea" v-model="form.shortAnswer"></el-input>
          </el-form-item>

          <div class="liner"></div>

          <el-form-item prop="video" label="解析视频">
            <div style="display:flex; justify-content: space-between">
              <VideoUpload :response-url.sync="form.video" />
              <video
                v-show="form.video"
                width="200px"
                height="100px"
                :src="form.video"
                controls="controls"
              ></video>
            </div>
          </el-form-item>
          <div class="liner"></div>
          <el-form-item prop="answerAnalyze" label="答案解析" />
          <div id="answer-analyze"></div>
          <div class="liner"></div>
          <el-form-item prop="remark" label="试题备注">
            <el-input type="textarea" v-model="form.remark"></el-input>
          </el-form-item>
          <div class="liner"></div>
          <el-form-item prop="tag" label="试题标签">
            <el-input v-model="form.tag"></el-input>
          </el-form-item>
          <!-- 3. 表单字段自定义  -->
        </el-form>
      </div>

      <span slot="footer" class="dialog-footer">
        <mm-button
          type="info"
          height="34"
          width="90"
          @click="dialogVisible = false"
          >取 消</mm-button
        >
        <mm-button type="primary" width="90" height="34" @click="submitForm"
          >确 定</mm-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getQuestions,
  createQuestion,
  updateQuestion,
  disableQuestion,
  deleteQuestion
} from "@/api/question";
import OptionUpload from "@/views/question/Components/OptionUpload";
import VideoUpload from "@/views/question/Components/VideoUpload";
import Pagination from "@/components/pagination/index";
import CitySelector from "@/components/CitySelector";
import table from "@/mixins/table";
// quill富文本编辑器, document url: https://quilljs.com/docs/quickstart/
import Quill from "quill";
import "quill/dist/quill.snow.css";
const quillDefaultValue = "<p><br></p>";
const quillOptions = {
  modules: {
    toolbar: [
      [{ font: [] }, { size: [] }],
      ["bold", "italic", "underline", "strike"],
      [{ color: [] }, { background: [] }],
      [{ script: "super" }, { script: "sub" }],
      [{ header: "1" }, { header: "2" }, "blockquote", "code-block"],
      [
        { list: "ordered" },
        { list: "bullet" },
        { indent: "-1" },
        { indent: "+1" }
      ],
      [{ direction: "rtl" }, { align: [] }],
      ["link", "image"]
    ]
  },
  placeholder: "请在这里输入...",
  theme: "snow"
};

const defaultOptions = () => {
  return [
    { label: "A", text: "", image: "" },
    { label: "B", text: "", image: "" },
    { label: "C", text: "", image: "" },
    { label: "D", text: "", image: "" }
  ];
};

export default {
  name: "QuestionList",
  mixins: [table],
  components: {
    Pagination,
    OptionUpload,
    VideoUpload,
    CitySelector
  },
  filters: {
    statusFilter(status) {
      return status ? "启动" : "停用";
    }
  },
  watch: {
    dialogVisible() {
      if (!this.quillAnswer && !this.quillQuestion) {
        this.$nextTick(() => {
          this.quillQuestion = new Quill("#question-title", quillOptions);
          this.quillAnswer = new Quill("#answer-analyze", quillOptions);
        });
      }
    },
    "form.questionType": function(newVal) {
      this.$refs?.form?.clearValidate([
        "singleSelectAnswer",
        "multipleSelectAnswer",
        "shortAnswer"
      ]);
      switch (newVal) {
        case this.SINGLE:
          this.form.multipleSelectAnswer = [];
          this.form.shortAnswer = undefined;
          break;
        case this.MULTIPLE:
          this.form.singleSelectAnswer = undefined;
          this.form.shortAnswer = undefined;
          break;
        case this.SHORT_ANSWER:
          this.form.singleSelectAnswer = undefined;
          this.form.multipleSelectAnswer = [];
          this.options = defaultOptions();
          break;
      }
    }
  },
  computed: {
    questionTitle: {
      get() {
        const quillValue = document.querySelector("#question-title")
          ?.children[0].innerHTML;
        if (quillDefaultValue === quillValue) {
          return "";
        }
        return quillValue;
      },
      set(val) {
        if (this.quillQuestion) {
          document.querySelector("#question-title").children[0].innerHTML = val;
        }
      }
    },
    answerAnalyze: {
      get() {
        const quillValue = document.querySelector("#answer-analyze")
          ?.children[0].innerHTML;
        if (quillDefaultValue === quillValue) {
          return "";
        }
        return quillValue;
      },
      set(val) {
        if (this.quillAnswer) {
          document.querySelector("#answer-analyze").children[0].innerHTML = val;
        }
      }
    }
  },
  data() {
    return {
      resourceName: "试题",
      uploadUrl: process.env.VUE_APP_BASE_URL + "/upload",
      httpRequest: {
        query: getQuestions,
        create: createQuestion,
        update: updateQuestion,
        delete: deleteQuestion,
        disable: disableQuestion
      },
      SINGLE: "单选",
      MULTIPLE: "多选",
      SHORT_ANSWER: "简答",
      subjectOptions: ["Java", "Python", "Web", "Android", "IOS"],
      catalogOptions: ["目录一", "目录二", "目录三"],
      enterpriseOptions: ["企业一", "企业二", "企业三"],
      directionOptions: ["方向一", "方向二", "方向三"],
      questionTypeOptions: ["单选", "多选", "简答"],
      difficultyOptions: ["简单", "一般", "困难"],
      options: defaultOptions(),
      rules: {
        subject: [
          { required: true, message: "学科不能为空", trigger: "change" }
        ],
        catalog: [
          { required: true, message: "目录不能为空", trigger: "change" }
        ],
        enterprise: [
          { required: true, message: "目录不能为空", trigger: "change" }
        ],
        direction: [
          { required: true, message: "方向不能为空", trigger: "change" }
        ],
        city: [{ required: true, message: "城市不能为空", trigger: "change" }],
        questionType: [
          { required: true, message: "请选择题类型", trigger: "change" }
        ],
        difficulty: [
          { required: true, message: "请选择题目难度", trigger: "change" }
        ],
        questionTitle: [
          { required: true, message: "试题标题不能为空", trigger: "blur" }
        ],
        answerAnalyze: [
          { required: true, message: "答案解析不能为空", trigger: "blur" }
        ],
        remark: [
          { required: true, message: "试题备注不能为空", trigger: "blur" }
        ],
        tag: [{ required: true, message: "试题标签不能为空", trigger: "blur" }],
        singleSelectAnswer: [
          { required: true, message: "请选择选项", trigger: "change" }
        ],
        multipleSelectAnswer: [
          {
            required: true,
            type: "array",
            message: "请至少选择一项",
            trigger: "change"
          }
        ],
        shortAnswer: {
          required: true,
          message: "简答答案不能为空",
          trigger: "blur"
        }
      },
      quillQuestion: null,
      quillAnswer: null
    };
  },
  methods: {
    preSubmitForm() {
      // 提取出将富文本中的值
      this.form.questionTitle = this.questionTitle;
      this.form.answerAnalyze = this.answerAnalyze;
      // 提取出不同题型对应的题目答案
      switch (this.questionType) {
        case this.SINGLE:
          this.form.multipleSelectAnswer = undefined;
          this.form.shortAnswer = undefined;
          this.form.selectOptions = this.options;
          break;
        case this.MULTIPLE:
          this.form.singleSelectAnswer = undefined;
          this.form.shortAnswer = undefined;
          this.form.selectOptions = this.options;
          break;
        case this.SHORT_ANSWER:
          this.form.singleSelectAnswer = undefined;
          this.form.multipleSelectAnswer = undefined;
          break;
      }
    },
    handleClickCreate() {
      this.isCreateForm = true;
      this.form = {
        questionType: "单选",
        city: [],
        multipleSelectAnswer: []
      };
      this.options = defaultOptions();
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.questionTitle = quillDefaultValue;
        this.answerAnalyze = quillDefaultValue;
        this.$refs?.form?.clearValidate();
      });
    },
    handleClickUpdate(instance) {
      this.isCreateForm = false;
      this.form = instance;
      switch (instance.questionType) {
        case this.SINGLE:
          this.options = instance.selectOptions;
          break;
        case this.MULTIPLE:
          this.options = instance.selectOptions;
          break;
        case this.SHORT_ANSWER:
          this.form.shortAnswer = instance.shortAnswer;
          break;
      }
      this.dialogVisible = true;
      // dialog显示一个tick
      this.$nextTick(() => {
        // quill 创建一个tick
        this.$nextTick(() => {
          this.questionTitle = instance.questionTitle;
          this.answerAnalyze = instance.answerAnalyze;
        });
      });
    }
  }
};
</script>

<style lang="scss" scoped>
.form-container {
  margin-left: 20%;
  width: 60%;
  .liner {
    margin: 35px 0;
    height: 1px;
    width: 100%;
    background: #bbb;
  }
  .option-select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .checkbox {
      margin-right: 30px;
    }
  }
  #question-title,
  #answer-analyze {
    margin-bottom: 60px;
  }
}
.el-dialog__wrapper {
  margin-top: -15vh;
  margin-bottom: -5vh;
}
</style>
