<template>
  <div class="page-user-list">
    <el-card class="box-card">
      <mm-button @click="handleClickCreate"
        ><i class="el-icon-plus"></i> 新增{{ resourceName }}</mm-button
      >
      <ul class="filter-container">
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <span>学科编号</span>
          <el-input class="el-input" v-model="listQuery.id" />
        </li>
        <li>
          <span>学科名称</span>
          <el-input class="el-input" v-model="listQuery.name" />
        </li>
        <li>
          <span>创建者</span>
          <el-input class="el-input" v-model="listQuery.createBy" />
        </li>
        <li>
          <span>状态</span>
          <el-select
            v-model="listQuery.status"
            clearable
            class="el-input"
            placeholder="请选择状态"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </li>
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <mm-button type="info" height="34" width="90" @click="clearFilter"
            >清除</mm-button
          >
          <mm-button height="34" width="90" @click="handleFilter"
            >搜索</mm-button
          >
        </li>
      </ul>
    </el-card>
    <el-card class="box-card-table">
      <el-table v-loading="listLoading" :data="tableData" style="width: 100%">
        <el-table-column label="序号" align="center" width="80">
          <template slot-scope="scope">
            {{ scope.$index }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column prop="id" align="center" label="学科编号" />
        <el-table-column prop="shortName" align="center" label="学科简称" />
        <el-table-column prop="tag" align="center" label="标签" />
        <el-table-column prop="createBy" align="center" label="创建者" />
        <el-table-column prop="createDate" align="center" label="创建日期" />
        <el-table-column prop="remark" align="center" label="备注" />
        <el-table-column prop="status" align="center" label="状态">
          <template slot-scope="scope">
            {{ scope.row.status | statusFilter }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="handleClickUpdate(scope.row)"
              >编辑</el-button
            >
            <el-button type="text" @click="handleClickDisable(scope.row.id)"
              >禁用</el-button
            >
            <el-button type="text" @click="handleClickDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        v-show="listQuery.total > 0"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        :total="listQuery.total"
        @pagination="fetchData"
      />
    </el-card>

    <el-dialog
      :title="dialogTitle"
      :visible.sync="dialogVisible"
      width="30%"
      center
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <!-- 3. 表单字段自定义  -->
        <el-form-item prop="id" label="学科编号">
          <el-input v-model="form.id"></el-input>
        </el-form-item>
        <el-form-item prop="name" label="学科名称">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item prop="shortName" label="学科简称">
          <el-input v-model="form.shortName"></el-input>
        </el-form-item>
        <el-form-item prop="intro" label="学科简介">
          <el-input v-model="form.intro" type="textarea"></el-input>
        </el-form-item>
        <el-form-item prop="remark" label="学科备注">
          <el-input v-model="form.remark"></el-input>
        </el-form-item>
        <!-- 3. 表单字段自定义  -->
      </el-form>

      <span slot="footer" class="dialog-footer">
        <mm-button
          type="info"
          height="34"
          width="90"
          @click="dialogVisible = false"
          >取 消</mm-button
        >
        <mm-button type="primary" width="90" height="34" @click="submitForm"
          >确 定</mm-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getSubjects,
  createSubject,
  updateSubject,
  disableSubject,
  deleteSubject
} from "@/api/subject";
import table from "@/mixins/table";

export default {
  name: "SubjectList",
  mixins: [table],
  data() {
    return {
      resourceName: "学科",
      httpRequest: {
        query: getSubjects,
        create: createSubject,
        update: updateSubject,
        delete: deleteSubject,
        disable: disableSubject
      },
      form: {
        status: true
      },
      rules: {
        id: [{ required: true, message: "请输入学科编号", trigger: "blur" }],
        name: [
          { required: true, message: "请输入学科名称", trigger: "blur" },
          { min: 2, max: 20, message: "长度在 2 到 20 个字符", trigger: "blur" }
        ],
        shortName: [
          { required: true, message: "请输入学科简称", trigger: "blur" },
          { min: 2, max: 20, message: "长度在 2 到 20 个字符", trigger: "blur" }
        ],
        intro: [{ required: true, message: "请输入学科简介", trigger: "blur" }]
      }
    };
  }
};
</script>
