<template>
  <div>
    <el-card class="box-card">
      <mm-button @click="handleClickCreate"
        ><i class="el-icon-plus"></i> 新增角色</mm-button
      >
      <ul class="filter-container">
        <li>
          <span>角色编号</span>
          <el-input class="el-input" v-model="listQuery.id" />
        </li>
        <li>
          <span>角色名称</span>
          <el-input class="el-input" v-model="listQuery.role" />
        </li>
        <li>
          <span>创建者</span>
          <el-input class="el-input" v-model="listQuery.createBy" />
        </li>
        <li>
          <span>状态</span>
          <el-select
            v-model="listQuery.status"
            clearable
            class="el-input"
            placeholder="请选择状态"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </li>
        <li>
          <mm-button type="info" height="34" width="90" @click="clearFilter"
            >清除</mm-button
          >
          <mm-button height="34" width="90" @click="handleFilter"
            >搜索</mm-button
          >
        </li>
      </ul>
    </el-card>
    <el-card class="box-card-table">
      <el-table v-loading="listLoading" :data="tableData" style="width: 100%">
        <el-table-column label="序号" align="center" width="80">
          <template slot-scope="scope">
            {{ scope.$index }}
          </template>
        </el-table-column>
        <el-table-column prop="id" align="center" label="角色编号" />
        <el-table-column prop="name" align="center" label="角色名称" />
        <el-table-column prop="tag" align="center" label="标签" />
        <el-table-column prop="createBy" align="center" label="创建者" />
        <el-table-column prop="createDate" align="center" label="创建日期" />
        <el-table-column prop="remark" align="center" label="备注" />
        <el-table-column prop="status" align="center" label="状态">
          <template slot-scope="scope">
            {{ scope.row.status | statusFilter }}
          </template>
        </el-table-column>
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="handleClickUpdate(scope.row)"
              >编辑</el-button
            >
            <el-button type="text" @click="handleClickDisable(scope.row.id)"
              >禁用</el-button
            >
            <el-button type="text" @click="handleClickDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        v-show="listQuery.total > 0"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        :total="listQuery.total"
        @pagination="fetchData"
      />
    </el-card>

    <el-dialog
      :title="dialogTitle"
      :visible.sync="dialogVisible"
      width="30%"
      center
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
        <el-form-item prop="id" label="角色编号">
          <el-input v-model="form.id"></el-input>
        </el-form-item>
        <el-form-item prop="name" label="角色名称">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item prop="intro" label="角色简介">
          <el-input type="textarea" v-model="form.intro"></el-input>
        </el-form-item>
        <el-form-item prop="remark" label="角色备注">
          <el-input v-model="form.remark"></el-input>
        </el-form-item>
        <el-form-item prop="status" label="角色状态">
          <el-select
            v-model="form.status"
            clearable
            class="el-input"
            placeholder="请选择状态"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>

      <span slot="footer" class="dialog-footer">
        <mm-button
          type="info"
          height="34"
          width="90"
          @click="dialogVisible = false"
          >取 消</mm-button
        >
        <mm-button type="primary" width="90" height="34" @click="submitForm"
          >确 定</mm-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getRoles,
  createRole,
  updateRole,
  disableRole,
  deleteRole
} from "@/api/role";
import table from "@/mixins/table";

export default {
  name: "UserPermission",
  mixins: [table],
  data() {
    return {
      resourceName: "角色",
      httpRequest: {
        query: getRoles,
        create: createRole,
        update: updateRole,
        delete: deleteRole,
        disable: disableRole
      },
      rules: {
        id: [{ required: true, message: "请输入角色编号", trigger: "blur" }],
        name: [
          { required: true, message: "请输入姓名", trigger: "blur" },
          { min: 2, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" }
        ],
        intro: [
          { required: true, message: "请输入角色简介", trigger: "blur" },
          {
            min: 5,
            max: 500,
            message: "长度在 5 到 500 个字符",
            trigger: "blur"
          }
        ],
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"]
          }
        ],
        role: [{ required: true, message: "角色不能为空", trigger: "change" }]
      }
    };
  }
};
</script>
