<template>
  <div class="page-user-list">
    <el-card class="box-card">
      <mm-button @click="handleClickCreate"
        ><i class="el-icon-plus"></i> 新增用户</mm-button
      >
      <ul class="filter-container">
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <span>用户名称</span>
          <el-input class="el-input" v-model="listQuery.username" />
        </li>
        <li>
          <span>邮箱</span>
          <el-input class="el-input" v-model="listQuery.email" />
        </li>
        <li>
          <span>角色</span>
          <el-select
            v-model="listQuery.role"
            clearable
            class="el-input"
            placeholder="请选择角色"
          >
            <el-option
              v-for="item in roleOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </li>
        <!-- 1. 搜索过滤字段自定义  -->
        <li>
          <mm-button type="info" height="34" width="90" @click="clearFilter"
            >清除</mm-button
          >
          <mm-button height="34" width="90" @click="handleFilter"
            >搜索</mm-button
          >
        </li>
      </ul>
    </el-card>
    <el-card class="box-card-table">
      <el-table v-loading="listLoading" :data="tableData" style="width: 100%">
        <el-table-column label="序号" align="center" width="80">
          <template slot-scope="scope">
            {{ scope.$index }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column prop="name" align="center" label="用户名" />
        <el-table-column prop="email" align="center" label="邮箱" />
        <el-table-column prop="role" align="center" label="角色" />
        <el-table-column prop="origin" align="center" label="来源" />
        <el-table-column prop="createDate" align="center" label="创建日期" />
        <el-table-column prop="remark" align="center" label="备注" />
        <el-table-column prop="status" align="center" label="状态">
          <template slot-scope="scope">
            {{ scope.row.status | statusFilter }}
          </template>
        </el-table-column>
        <!-- 2. 表格字段自定义  -->
        <el-table-column label="操作" align="center">
          <template slot-scope="scope">
            <el-button type="text" @click="handleClickUpdate(scope.row)"
              >编辑</el-button
            >
            <el-button type="text" @click="handleClickDisable(scope.row.id)"
              >禁用</el-button
            >
            <el-button type="text" @click="handleClickDelete(scope.row.id)"
              >删除</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <Pagination
        v-show="listQuery.total > 0"
        :page.sync="listQuery.page"
        :limit.sync="listQuery.limit"
        :total="listQuery.total"
        @pagination="fetchData"
      />
    </el-card>

    <el-dialog
      :title="dialogTitle"
      :visible.sync="dialogVisible"
      width="30%"
      center
    >
      <el-form ref="form" :model="form" :rules="rules" label-width="70px">
        <!-- 3. 表单字段自定义  -->
        <el-form-item prop="name" label="用户名">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item prop="email" label="邮　箱">
          <el-input v-model="form.email"></el-input>
        </el-form-item>
        <el-form-item prop="phone" label="电　话">
          <el-input v-model="form.phone"></el-input>
        </el-form-item>
        <el-form-item prop="role" label="角　色">
          <el-select
            v-model="form.role"
            clearable
            class="el-input"
            placeholder="请选择角色"
          >
            <el-option
              v-for="item in roleOptions"
              :key="item"
              :label="item"
              :value="item"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop="status" label="状　态">
          <el-select
            v-model="form.status"
            clearable
            class="el-input"
            placeholder="请选择状态"
          >
            <el-option
              v-for="item in statusOptions"
              :key="item.label"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item prop="remark" label="备　注">
          <el-input v-model="form.remark"></el-input>
        </el-form-item>
        <!-- 3. 表单字段自定义  -->
      </el-form>

      <span slot="footer" class="dialog-footer">
        <mm-button
          type="info"
          height="34"
          width="90"
          @click="dialogVisible = false"
          >取 消</mm-button
        >
        <mm-button type="primary" width="90" height="34" @click="submitForm"
          >确 定</mm-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import {
  getUserList,
  createUser,
  updateUser,
  disableUser,
  deleteUser
} from "@/api/user";
import table from "@/mixins/table";

export default {
  name: "UserList",
  mixins: [table],
  data() {
    return {
      resourceName: "用户",
      httpRequest: {
        query: getUserList,
        create: createUser,
        update: updateUser,
        delete: deleteUser,
        disable: disableUser
      },
      form: {
        status: true
      },
      rules: {
        name: [
          { required: true, message: "请输入姓名", trigger: "blur" },
          { min: 2, max: 5, message: "长度在 3 到 5 个字符", trigger: "blur" }
        ],
        phone: [
          { required: true, message: "请输入手机号码", trigger: "blur" },
          { min: 11, max: 11, message: "手机号码为11位", trigger: "blur" }
        ],
        email: [
          { required: true, message: "请输入邮箱地址", trigger: "blur" },
          {
            type: "email",
            message: "请输入正确的邮箱地址",
            trigger: ["blur", "change"]
          }
        ],
        role: [{ required: true, message: "角色不能为空", trigger: "change" }]
      }
    };
  }
};
</script>
