<template>
  <li class="hot-city-item">
    <div class="left">
      <div class="number" :class="{ active: isHot }">{{ no }}</div>
      <p>{{ city }}</p>
    </div>
    <div class="right" :class="{ active: isHot }">
      {{ hotNumber | numberFormatFilter }}
    </div>
  </li>
</template>

<script>
export default {
  name: "HotCityItem",
  props: {
    no: {
      type: String | Number,
      default: 0
    },
    city: {
      type: String,
      default: "北京市"
    },
    hotNumber: {
      type: String | Number,
      default: 0
    },
    isHot: {
      type: Boolean,
      default: false
    }
  },
  filters: {
    numberFormatFilter(number) {
      const string = String(number);
      const reverseString = string
        .split("")
        .reverse()
        .join("");
      let newString = reverseString.replace(/(\d\d\d)/g, "$1,");
      if (newString.endsWith(",")) {
        newString = newString.slice(0, newString.length - 1);
      }
      return newString
        .split("")
        .reverse()
        .join("");
    }
  }
};
</script>

<style lang="scss" scoped>
.hot-city-item {
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    display: flex;
    align-items: center;
    .number {
      margin-right: 24px;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      background: linear-gradient(
        0deg,
        rgba(229, 229, 229, 1) 0%,
        rgba(236, 236, 236, 1) 93%
      );
      border-radius: 50%;
      font-size: 14px;
      color: rgba(255, 255, 255, 1);
    }
    .active {
      background: linear-gradient(
        0deg,
        rgba(248, 103, 63, 1) 0%,
        rgba(255, 139, 107, 1) 93%
      );
    }
  }
  .right {
    margin-right: 80px;
    color: rgba(98, 99, 101, 1);
  }
  .active {
    color: #fa724c;
  }
}
</style>
