<template>
  <ul class="hot-city">
    <HotCityItem
      v-for="(city, index) in cities"
      :key="index"
      :is-hot="index < 3"
      :no="index + 1"
      :city="city.name"
      :hot-number="city.hotNumber"
    />
  </ul>
</template>

<script>
import HotCityItem from "@/views/dashboard/components/HotCity/HotCityItem";

export default {
  name: "index",
  components: {
    HotCityItem
  },
  props: {
    cities: {
      type: Array,
      default: () => []
    }
  }
};
</script>

<style lang="scss" scoped>
.hot-city {
  margin-top: 31px;
  display: flex;
  flex-direction: column;
}
</style>
